<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.ytimg.com/vi/rGiXQbwt26I/maxresdefault.jpg" alt="airpods" width="500" height="400" >
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/S/aplus-media/vc/2f7ebfe3-308e-48b1-b4f5-cd819d40fad7.__CR0,0,970,300_PT0_SX970_V1___.jpg" alt="airpods slide" width="500" height="400">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.ytimg.com/vi/J29u-P6QUbI/maxresdefault.jpg" alt="airpods slide" width="500" height="400">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <table border="1" style="width: 100;">
    <tr>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/51zVbmI+-hL._SX679_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Philips Multi Grooming Kit MG7715/65, 13-in-1 (New Model), Face, Head and Body - All-in-one Trimmer. Power adapt technology for precise trimming, 120 Mins Run Time with Quick Charge</h5>
                  <div >₹3,492</div>
                  <button class="btn btn-primary" type="button"> BUY NOW</button>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/61VrmMP-UAS._SX679_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">NOVA NG 1152 Cordless Rechargeable: 60 Minutes Runtime Multi Grooming Trimmer for Men ( Black or blue )</h5>
                  <div >₹1,035</div>
                  <button class="btn btn-primary" type="button"> BUY NOW</button>
                </div>
              </div>
        </td>
        <td>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://m.media-amazon.com/images/W/WEBP_402378-T2/images/I/61lVIdL-DXL._SL1500_.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">PHILIPS QP2525/10 Cordless OneBlade Hybrid Trimmer and Shaver with 3 Trimming Combs, Lime Green</h5>
                  <div >₹1,583</div>
                  <button class="btn btn-primary" type="button"> BUY NOW</button>
                </div>
              </div>
        </td>
    </tr>
  </table>
  <app-footer></app-footer>
