<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <a href="/mobile" >
        <img class="d-block w-100"  src="https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/d95f87a62b6c1393.jpg?q=50" alt="mobile First slide" style="width: 400px; height: 250px;">
      </a>  
      </div>
    <div class="carousel-item">
      <a href="/watch" >
      <img class="d-block w-100" src="https://rukminim1.flixcart.com/flap/1688/280/image/75a15c3e19c3f7de.jpg?q=50" alt="watch Second slide" style="width: 400px; height: 250px;">
    </a>  
    </div>
    <div class="carousel-item">
      <a href="/tv" >
      <img class="d-block w-100" src="https://rukminim1.flixcart.com/fk-p-flap/1688/280/image/558c4de53e798538.jpg?q=50" alt="tv Third slide" style="width: 400px; height: 250px;">
        </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="width: 400px; height: 250px;">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="width: 400px; height: 250px;">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div>
  <table border="0" style="width: 100%;"  >
    <tr>
      <td>
        <div>
          <a href="/mobile" >
            <img src="https://rukminim1.flixcart.com/fk-p-flap/960/960/image/835b5bad61c96dfa.jpg?q=50" class="rounded float-left" alt="Mobile" width="500.63" height="168" style="padding:0;" >
          </a>
      </div>
      </td>
      <td>
      <div>
        <a href="/tv" >
          <img src="https://rukminim1.flixcart.com/fk-p-flap/656/352/image/b5cf5d8cb73cc134.jpeg?q=70" class="rounded mx-auto d-block" alt="tv" width="500.63" height="168" style="padding: 0;">
        </a>
        </div>
    </td>
    <td>
      <div>
        <a href="/airpods" >
          <img src="https://rukminim1.flixcart.com/fk-p-flap/960/960/image/9716ccf842ed2831.jpeg?q=50" class="rounded float-right" alt="AirPods" width="500.63" height="168" style="padding: 0;">
        </a>
      </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <a href="/trimmer" >
            <img src="https://rukminim1.flixcart.com/fk-p-flap/656/352/image/571e3f51811c71cc.jpeg?q=70" class="rounded float-left" alt="trimmer"  width="500.63" height="168" style="padding: 0;" >
          </a>
      </div>
      </td>
      <td>
      <div>
        <a href="/watch" >
          <img src="https://rukminim1.flixcart.com/fk-p-flap/1312/704/image/a543ff4ed41b855e.jpeg?q=70" class="rounded mx-auto d-block" alt="watch" width="500.63" height="168" style="padding: 0;">
        </a>
        </div>
    </td>
    <td>
      <div>
        <a href="/laptop" >
          <img src="https://rukminim1.flixcart.com/fk-p-flap/656/352/image/9e0c9019e74ec4eb.jpeg?q=70" class="rounded float-right" alt="laptop" width="500.63" height="168" style="padding: 0;">
        </a>
      </div>
      </td>
    </tr>
  </table>
  <app-footer></app-footer>
  