<div class="pos-f-t">
    
    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;

                    </i>
                    <strong style="font-size: 30px;">E-COMM</strong>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li>
                            <a class="nav-link" href="/product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myorder">My Orders</a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link" href="/cart">
                                <i class='fas fa-cart-plus' style='font-size:30px'></i>
                                <div style="font-size: 10px;" class="badge bg-danger">
                                    <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
                                </div>
                                
                            </a> -->
                            <a href="/cart">
                            <button routerLink="cart" class="btn btn-primary">
                                <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
                                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
                            </button>
                        </a>



                        </li>
                        <li>
                            <div class="dropdown show">
                                <a class="btn btn-secondary dropdown-toggle" href="#" role="button"
                                    id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    More
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/help">24x7 Customer Care</a>
                                    <a class="dropdown-item" href="/order">Order</a>
                                    <a class="dropdown-item" href="/download">Download App</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            [(ngModel)]="searchTerm" (keyup)="search($event)">
                    </form>
                </div>
            </nav>
        </div>
    </nav>
</div>